<%= form_tag(recipes_path, method: :get) do %>
  <%= label :query, "Search for:" %>
  <%= text_field_tag :ingredients %>
  <%= submit_tag "Search" %>
<% end %>

<% @recipes&.each do |recipe| %>
  <div class="card-product">
    <% if recipe.image.present? %>
      <%= image_tag(recipe.image)  %>
    <% else %>
      <%= image_tag("https://icon-library.com/images/recipe-icon/recipe-icon-0.jpg") %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= link_to(recipe.name, recipe_path(recipe.id)) %></h2>
      <p><%= recipe.difficulty %></p>
    </div>
  </div>
<% end %>

